@model MvcCv.Models.Entity.TblSertifikalarim
@{
    ViewBag.Title = "YetenekDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Sertifika Düzenleme Sayfası</h4>
<br />
<form method="POST">

    @Html.Label("Sertifika")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.Label("Derece")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-success"> Güncelle</button>
    <a href="/Sertifika/SertifikaSil/@ViewBag.d" class="btn btn-danger">Sil</a>
    
</form>

